
.instructions, .instructions li
{
    margin-top: 20px;
    font-size: 14px;
}

.instructions li{
    margin-left: 20px;
}

.submit-box-input
{
    display: flex;
    flex-direction: column;
}

.submit-input{
    margin-top: 15px;
}

.span{
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}