.title
{
    margin-bottom: 20px;
}

.prompt
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.question
{
    font-size: 18px;
    font-weight: bold;
}

.span
{
    opacity: 0.7;
    font-size: 13px;
}

.input
{
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    resize: none;
}

.opinion
{
    margin-top: 50px;
}

.submit
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submit input
{
    width: 49%;
}

#next
{
    background-color: #28a745;
}

#finish
{
    opacity: 0.7;
    background-color: #0861c6;
    font-weight: normal;
}

.resp .input
{
    background-color: #00000005;
    border-radius: 7px;
    min-height: 100px;
}

.input-resp 
{
    pointer-events: none;
    transition: all 100ms;
}

.input-resp.selected 
{
    border: 1px solid #3B82F6;
    background-color: #66aff830;
}