#forLogo
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#logo
{
    width: 100px;
}

.graph-container
{
    margin-top: 40px;
}

.bar-circle
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bar-circle strong
{
    margin-top: 30px;
}

.circle {
    width: 110px;
}

.bg {
    fill: none;
    stroke: #00000015;
    stroke-width: 4;
}

.desc
{
    font-size: 12px;
}

.cprogress {
    fill: none;
    stroke: #ffffff40;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    transition: all 1800ms;
}

.text {
    fill: #ffffff10;
    font-size: .5em;
    font-weight: bold;
    text-anchor: middle;        /* centraliza horizontal */
    dominant-baseline: middle;  /* centraliza vertical */
}
