<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/about.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.svg') }}">
    <title>Sobre nós</title>
</head>
<body>
    <section id="main">
        <header>
            <div class="title">
               <img id="logo" src="static/img/logocompleta.svg" alt="Logo">
            </div>
            <div class="sub-title">
                <span class="sub-title-1">
                    Conheça nosso projeto!
                </span>
            </div>
        </header>
        <main>
            <div class="desc">
                <h3>- O Projeto</h3> <br>
                <span>
                    O IÁgora é um projeto que possui como objetivo fazer uma adaptação do famoso Teste de Turing, um teste que busca avaliar a Inteligência Artificial na imitação do comportamento humano. O jogo conta com a presença de um avaliador, que nesse caso é você, e dois entrevistados, que são as respostas a serem avaliadas.
                    <br><br>
                    O nome IÁgora faz um trocadilho com o termo IA, que usamos para nos referir as Inteligências Artificiais, e o termo do grego 'Ágora', que significa assembleia de discussão. Por isso, não deixe de discutir conosco deixando a sua opinião ao longo do teste!
                </span>
            </div>

            <div class="desc">
                <h3>- A Arquitetura</h3> <br>
                <span>
                    Ao responder o questionário, seu desempenho é armazenado de forma que, ao final de um período de teste, seja possível avaliar qual foi o desempenho de cada uma das IAs escolhidas (ChatGPT, Deepseek e Gemini), compará-las e discutir acerca da filosofia de Turing.
                    <br><br>
                    A fim de enriquecer essa avaliação, nós separamos as 50 perguntas disponíveis em 5 nichos diferentes, são eles: Estado, Audiovisual, Conhecimentos gerais, Perguntas pessoais e atividades. Além disso, as informações pessoais que coletamos de vocês também possibilita a observação de padrões no erro ou acerto das IAs.
                </span>
            </div>

            <div class="desc">
                <h3>- Motivações do Projeto</h3> <br>
                <span>
                    Nós gostamos muito de computação e, inspirados pelo trabalho de Alan Turing, pai da computação, surgiu a ideia de avaliar quão boas as IAs estão no mundo de hoje.  
                    O projeto IÁgora foi criado com esse objetivo, utilizando o famoso Teste de Turing como base, para que possamos comparar respostas humanas com respostas de Inteligências Artificiais.  
                    Este projeto foi desenvolvido especialmente para a 34ª META do CEFET-MG que será em 23/10/2025, combinando aprendizado, curiosidade científica e prática em computação.
                </span>
            </div>

            <div class="desc">
                <h3>- Equipe</h3> <br>
                <span>
                    O projeto foi desenvolvido por dois alunos do 3º ano do curso técnico de Mecatrônica do CEFET-MG: Fábio Fernandes e Maria Bispo.  
                    Contamos também com a orientação da nossa coordenadora Luciana Campos, professora do departamento de Computação do CEFET, que nos apoiou no desenvolvimento da lógica, interface e análise dos resultados.  
                    Juntos, combinamos conhecimento técnico, criatividade e pesquisa científica para criar esta experiência de avaliação das Inteligências Artificiais.
                </span>
            </div>

            <div class="desc">
                <h3>- Alan Turing</h3> <br>
                <span>
                    Alan Turing foi um matemático, lógico e criptógrafo britânico considerado um dos pais da ciência da computação e da inteligência artificial. Ele propôs conceitos fundamentais que permitiram o desenvolvimento dos computadores modernos e da teoria da computação.
                </span>
            </div>

            <div class="desc">
                <h3>- O Teste de Turing</h3> <br>
                <span>
                    O Teste de Turing, criado por Alan Turing em 1950, é um método para avaliar a capacidade de uma máquina em exibir comportamento inteligente equivalente ao de um ser humano. Nesse teste, um avaliador deve determinar qual das respostas é humana e qual é gerada por uma máquina, sem saber previamente.
                    
                    <br><br> <b>Obrigada por fazer parte dessa pesquisa!</b>
                    <br><br>Conheça nosso intagram: <a href="https://www.instagram.com/projetoiagora/">Projeto IÁgora</a>
                </span>
            </div>
        </main>

        <footer>
            <span>34° META - IÁgora</span>
        </footer>
    </section>
</body>
</html>