<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/about.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.svg') }}">
    <title>Sobre nós</title>
</head>
<body>
    <section id="main">
        <header>
            <div class="title">
               <img id="logo" src="static/img/logocompleta.png" alt="Logo">
            </div>
            <div class="sub-title">
                <span class="sub-title-1">
                    Conheça nosso projeto!
                </span>
            </div>
        </header>
        <main>
            <div class="desc">
                <h3>- O Projeto</h3> <br>
                <span>
                    O IÁgora é um projeto que possui como objetivo fazer uma adaptação do famoso Teste de Turing, um teste que busca avaliar a Inteligência Artificial na imitação do comportamento humano. Ao contrário do teste original, o IÁgora é realizado remotamente através deste site, em que você,  voluntário, irá tentar distinguir a IA dos seres humanos!
                    O nome IÁgora faz um trocadilho com o termo 'IA', que usamos para nos referir as Inteligências Artificiais, e o termo do grego 'Ágora', que significa assembleia de discussão. Por isso, não deixe de discutir conosco deixando a sua opinião ao longo do teste!
                </span>
            </div>

            <div class="desc">
                <h3>- Detalhes do Projeto</h3> <br>
                <span>
                    Ao responder o questionário, seu desempenho é armazenado de forma que, ao final de um período de coleta, seja possível avaliar qual foi o desempenho de cada uma das IAs escolhidas (ChatGPT, Deepseek e Gemini), compará-las e discutir acerca da filosofia de Turing.
                    <br><br>
                    A fim de enriquecer essa avaliação, nós separamos as 50 perguntas disponíveis em 5 nichos diferentes, são eles: Estado, Audiovisual, Conhecimentos gerais, Perguntas pessoais e Atividades. Além disso, as informações pessoais que coletamos de vocês também possibilitam a observação de padrões no erro ou acerto das IAs.
                    <br><br>
                    As perguntas presentes no jogo foram formuladas pensando no melhor desempenho possível do teste, afinal, as respostas precisam ser passivas de avaliação. Todo o questionário foi respondido por 3 professores do CEFET-MG (DEMAT) e também pelas IAs. Nesta aplicação, cada pergunta é acompanhada de suas respostas sorteadas, uma artificial e outra humana.
                    <br><br>
                    Para coletar as respostas das IAs utilizamos o mesmo  prompt: "Você está participando do Teste de Turing. Vou te fazer algumas perguntas, mas não posso descobrir que você é um robô, de respostas que não sejam com apenas 1 palavra, mas que não passem de uma frase e o mais humanas possíveis. Fale como um brasileiro", as versões utilizadas foram: ChatGPT 4.0, DeepSeek-V3 e Gemini 2.5 Flash.
                </span>
            </div>

            <div class="desc">
                <h3>- Motivações do Projeto</h3> <br>
                <span>
                    Nós gostamos muito de computação e, inspirados pelo trabalho de Alan Turing, o pai da computação, tivemos a ideia de avaliar as Inteligências Artificiais no contexto atual, em que elas estão cada vez mais presentes no nosso dia a dia.
                    Pensando nisso, este projeto foi desenvolvido especialmente para a 34ª META do CEFET-MG que será no dia 23/10/2025, combinando aprendizado, curiosidade e computação.
                </span>
            </div>

            <div class="desc">
                <h3>- A Equipe</h3> <br>
                <span>
                    A ideia inicial do projeto surgiu entre dois alunos do 3º ano do curso técnico de Mecatrônica do CEFET-MG: Fábio Fernandes e Maria Bispo.  
                    Contamos também com a orientação da nossa coordenadora Luciana Campos, professora do departamento de Computação do CEFET, que nos apoiou no desenvolvimento da lógica, interface e análise dos resultados.  
                    Juntos, combinamos conhecimento técnico, organização de trabalho, criatividade e método de pesquisa científica para criar esta experiência de avaliação das Inteligências Artificiais.
                </span>
            </div>

            <div class="desc">
                <h3>- Quem foi Alan Turing?</h3> <br>
                <span>
                    Alan Turing foi um matemático, lógico e criptógrafo britânico considerado um dos pais da ciência da computação e da inteligência artificial. Ele propôs conceitos fundamentais que possibilitaram o desenvolvimento dos computadores modernos e da teoria da computação.
                </span>
            </div>

            <div class="desc">
                <h3>- O Teste de Turing</h3> <br>
                <span>
                    O Teste de Turing, criado por Alan Turing em 1950 com o intuito de responder ao questionamento: "Podem as máquinas pensar?", buscando avaliar as máquinas na imitação so ser humano. Nesse teste, um avaliador conversa com uma Inteligência Aritficial e um ser humano, e deve tentar distinguí-las.
                    
                    <br><br> <b>Obrigada por fazer parte desta pesquisa!</b>
                    <br><br>Conheça nosso intagram: <a href="https://www.instagram.com/projetoiagora/">Projeto IÁgora</a>
                </span>
            </div>
        </main>

        <footer>
            <span>34° META - IÁgora</span>
        </footer>
    </section>
</body>
</html>